#img1{

    transition: 1s;
    
    
    
    }
    #img1:hover{
    
    transform: scale(1.2);
    
    }
    
    
    #img2{
    
        transition: 1s;
        
        
        
        
        }
        #img2:hover{
        
        
        transform: scale(1.2);
        
        
        }
    
        #img3{
    
            transition: 1s;
            
            
            
            
            }
            #img3:hover{
            
            
            transform: scale(1.2);
            
            
            }
            #img4{
    
                transition: 1s;
                
                
                
                
                }
                #img4:hover{
                
                
                transform: scale(1.2);
                
                
                }
    
                #img5{
    
                    transition: 1s;
                    
                    
                    
                    
                    }
                    #img5:hover{
                    
                    
                    transform: scale(1.2);
                    
                    
                    }
    
                    #img6{
    
                        transition: 1s;
                        
                        
                        
                        
                        }
                        #img6:hover{
                        
                        
                        transform: scale(1.2);
                        
                        
                        }
                        #img7{
    
                            transition: 1s;
                            
                            
                            
                            
                            }
                            #img7:hover{
                            
                            
                            transform: scale(1.2);
                            
                            
                            }
                            #img8{
    
                                transition: 1s;
                                
                                
                                
                                
                                }
                                #img8:hover{
                                
                                
                                transform: scale(1.2);
                                
                                
                                }
    
    
    